/* google-fonts */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* share-style */
.display-flex {
  display: flex;
}

.text-primary {
  color: #ff900E;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.btn-primary {
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  background-color: #ff900e;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}


/* Dark-2 */

.txt-gray {
  color: #424242;
}

/* Dark-3 */
.txt-light-gray {
  color: #727272;
}

.bg-light {

  background: rgba(255, 144, 14, 0.1);
}


/* header-style */


/* nav-style */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 2.8rem;
}

.nav-item {
  list-style: none;
  margin-right: 40px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner-style */

.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

/* team-and-feature-related-styles */

.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}

.our-features {
  margin-left: 130px;
  width: 520px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

#quick-list {
  font-weight: 500;
}

.feature-description {
  margin-bottom: 30px;
}

/* features section releted style */

.features {
  gap: 90px;
}
#features-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-card {
 padding: 30px;
 box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
 margin-bottom: 20px;
 border-radius: 8px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  
}
#experiance-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: -70px;
    margin-top: -100px;
}
#experiance-years {
  font-weight: 700;
  font-size: 4rem;
}
.featured-articets img {
  width: 100%;
}


/* some fact releted style */

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}


.fact-card {
  border: 1px solid #FF900E;
  height: 240px;
  width: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}
.fact-number {
  font-size: 2.7rem;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
}

.fact-name {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.fact-icon {
  align-items: center;
}

/* our sponsor */
.sponsor-info {
  max-width: 680px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-compony {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-compony img {
  filter: grayscale(100%);
}



/* responsive-media */

@media screen and (max-width: 576px) {

  .navbar,
  .nav-link,
  .teams,
  .features {
    flex-direction: column;
  }

  .team-img-container,
  .facts-container,
  .sponsor-compony {
    grid-template-columns: repeat(1, 1fr);
  }

  .sponsor-compony {
    justify-items: center;
    gap: 50px;
  }


  .facts-container {
    justify-items: center;
    gap: 24px;
  }
   .our-features {
    margin-left: 0;
    width: 100%;
  } 
  #experiance-badge{
    margin-left: 20px;
    margin-top: 20px;
  }
}

/* medium-size-device */

@media screen and (min-width: 577px) and (max-width: 920px) {

  .teams, .features {
    flex-direction: column;
  }

  .our-features {
    margin: 30px auto;
  }
  @media screen and (min-width: 577px) and (max-width: 920px) {

  .teams {
    flex-direction: column;
  }

  .our-features {
    margin: 30px auto;
  }
    #experiance-badge{
    margin-left: 20px;
    margin-top: 20px;
  }

  .sponsor-compony, .facts-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  


}
}